# Задание 1

Дан список с визитами по городам и странам. Напишите код, который возвращает отфильтрованный список geo_logs, содержащий только визиты из России. Считайте, что список geo_logs легко помещается в оперативной памяти.

In [251]:
geo_logs = [
['visit1', ['Москва', 'Россия']],
['visit2', ['Дели', 'Индия']],
['visit3', ['Владимир', 'Россия']],
['visit4', ['Лиссабон', 'Португалия']],
['visit5', ['Париж', 'Франция']],
['visit6', ['Лиссабон', 'Португалия']],
['visit7', ['Тула', 'Россия']],
['visit8', ['Тула', 'Россия']],
['visit9', ['Курск', 'Россия']],
['visit10', ['Архангельск', 'Россия']],
]
# двоеточия после слов "визит" заменены на запятые

In [41]:
for lines in geo_logs:
    if lines[1][1]=='Россия':
        print(lines)

['visit1', ['Москва', 'Россия']]
['visit3', ['Владимир', 'Россия']]
['visit7', ['Тула', 'Россия']]
['visit8', ['Тула', 'Россия']]
['visit9', ['Курск', 'Россия']]
['visit10', ['Архангельск', 'Россия']]

# Задание 2


Выведите на экран все уникальные гео-ID из значений словаря ids. Т. е. список вида [213, 15, 54, 119, 98, 35]
ids = {'user1': [213, 213, 213, 15, 213], 'user2': [54, 54, 119, 119, 119], 'user3': [213, 98, 98, 35]}

In [81]:
ids = {'user1': [213, 213, 213, 15, 213], 'user2': [54, 54, 119, 119, 119], 'user3': [213, 98, 98, 35]}
conc=[]
#склеиваю в один список и беру уникальные элементы с помощью set()
for key in ids.values():
    #print(key)
    conc=conc+key
    #conc=join(conc, key)
#print(conc)
print(set(conc))
#type(set(conc))

{98, 35, 15, 213, 54, 119}

# Задание 3

Список поисковых запросов. Получить распределение количества слов в них. Т. е. поисковых запросов из одного слова 5%, из двух - 7%, из трех - 3% итд.

In [66]:
queries = [
'смотреть сериалы онлайн',
'новости спорта',
'афиша кино',
'курс доллара',
'сериалы этим летом',
'курс по питону',
'сериалы про спорт',
]

In [78]:
stats={}

newNum = '2017-05-04'
newValue = 1/len(queries)
# для каждой строки определяем - есть ли такое количество слов в словаре. 
#Количество слов принял равным количеству пробелов +1

for line in queries:
    newNum=line.count(' ')+1
    if newNum in stats:
        #print('Значение для ключа уже существует')
        stats[ newNum ]+= newValue
    
    else:
        stats[ newNum ] = newValue

print( stats )

{3: 0.5714285714285714, 2: 0.42857142857142855}

# Задание 4

Дана статистика рекламных каналов по объемам продаж. Напишите скрипт, который возвращает название канала с максимальным объемом.
Т. е. в данном примере скрипт должен возвращать 'yandex'.

In [82]:
stats = {
    'facebook': 55, 
    'yandex': 120, 
    'vk': 115, 
    'google': 99, 
    'email': 42, 
    'ok': 98}

In [90]:
max_value=-1
max_channel=''
for line in stats:
    if stats[line]>max_value:
        max_value=stats[line]
        max_channel=line
print(max_channel)

yandex

# Задание 5

In [ ]:
#Дан поток логов по количеству просмотренных страниц для каждого пользователя. 
#Список отсортирован по ID пользователя. 
#Вам необходимо написать алгоритм, который считает среднее значение просмотров на пользователя. 
#Т. е. надо посчитать отношение суммы всех просмотров к количеству уникальных пользователей. 
#Учтите, что весь список stream не помещается в оперативную память, 
#т. е. его нужно обрабатывать поэлементно в цикле.

In [93]:
stream = [
'2018-01-01,user1,3',
'2018-01-07,user1,4',
'2018-03-29,user1,1',
'2018-04-04,user1,13',
'2018-01-05,user2,7',
'2018-06-14,user3,4',
'2018-07-02,user3,10',
'2018-03-21,user4,19',
'2018-03-22,user4,4',
'2018-04-22,user4,8',
'2018-05-03,user4,9',
'2018-05-11,user4,11',
]

In [112]:
nmb_of_views=0
nmb_of_users=0
i=0
sec='uu'
# задаем пользователя для счетчика. Умолчательного берем который нам не встретится
#stats={}
for elem in stream:
    #print(elem.split(','))
    first, second, third =elem.split(',')
#построчно суммируем просмотры
    nmb_of_views+=int(third)
#считаем пользователей, принимая в расчет, что они идут по порядку    
    if second!=sec:
        nmb_of_users+=1
    i+=1
    sec=second
print(nmb_of_views/ nmb_of_users)

23.25

# Задание 6

In [ ]:
#Дана статистика рекламных кампаний по дням. 
#Напишите алгоритм, который по паре дата-кампания ищет значение численного столбца. 
#Т. е. для даты '2018-01-01' и 'google' нужно получить число 25. 
#Считайте, что все комбинации дата-кампания уникальны, а список stats легко помещается в оперативной памяти.

In [113]:
stats = [
['2018-01-01', 'google', 25],
['2018-01-01', 'yandex', 65],
['2018-01-01', 'market', 89],
['2018-01-02', 'google', 574],
['2018-01-02', 'yandex', 249],
['2018-01-02', 'market', 994],
['2018-01-03', 'google', 1843],
['2018-01-03', 'yandex', 1327],
['2018-01-03', 'market', 1764],
]

In [140]:
#stats[0:3]
dt='2018-01-01'
company='google'
[line[2] for line in stats if (dt == line[0] and line[1]==company)]

[25]

# Бонусный вариант (делать его не обязательно)

In [ ]:
#Рассмотрите обобщенный вариант этой задачи: имеется таблица из n столбцов.
#Первые n-1 столбцов - признаки (комбинации этих признаков в таблице уникальные). 
#Последний столбец - значение. 
#Вам необходимо по набору n-1 признаков найти соответствующую строчку в таблице и вернуть значение из правого столбца. Учтите, что исходная таблица может быть любого размера.

#Одно из применений задачи - объединение двух таблиц по n столбцов, 
#одна из которых помещается в оперативной памяти. Например, 7 столбцов по 1 и 10 миллионов строк.

In [280]:
from random import  random, choice, randint
from string import ascii_letters
import csv
import timeit

#n - number of columns
n=7
rows=10**7-1
#rows number will be 10**7. Last row will be the one I will search for

#Firstly lets create table csv to save big table
#hope it is not overload memory

field_names = []

for k in range(n-1):
        field_names.append(k)
field_names.append('value')
#print(field_names)


with open('6 table.csv', 'w', newline='') as csvfile:
    fieldnames = field_names
    #writer = csv.DictWriter(csvfile, fieldnames=fieldnames)
    #writer = csv.writer(csvfile, fieldnames=fieldnames)
    writer = csv.writer(csvfile)

    #writer.writeheader()
    for i in range(rows):
        tab_row=[]
        for j in range(n-1):
            #len_cell=randint(0, n)
            len_cell=2
            tab_row.append(''.join(choice(ascii_letters) for s in range(len_cell)))
        tab_row.append(randint(0, rows))
        #print(tab_row)
        writer.writerow(tab_row)
    #last row I will search for
    writer.writerow(['JL', 'VT', 'dw', 'Wa', 'EO', 'MV', '7078246'])
        #if i%1000000==0: 
            #print(timeit.timeit())

In [ ]:
#commented code wich just to checks the table
#import pandas as pd
#data = pd.read_csv('6 table.csv')
#data.tail()
#array_to_search=['JL', 'VT', 'dw', 'Wa', 'EO', 'MV'] # '7078246'
#array_to_search

In [285]:
#secondly I will read row by row and search for volume in the cycle using attributes
import csv

array_to_search=['JL', 'VT', 'dw', 'Wa', 'EO', 'MV'] # '7078246'

with open('6 table.csv', newline='') as f:
    reader = csv.reader(f)
    
    for row in reader:
        arr_in=row[:n-1]
        if arr_in==array_to_search:
            print('volume is ', row[n-1])
            break

volume is  7078246

        Lt  UK  Sk  wY  sP  wv    20788
999995  yX  BP  na  Rg  Cm  Me   234120
999996  ur  kM  Cq  DM  Zr  Xu   281740
999997  my  oa  ST  Qq  wQ  oK   622546
999998  gz  MT  Uq  bW  RN  wa   517376
999999  JL  VT  dw  Wa  EO  MV  7078246