In [ ]:
#Пожалуйста, пока не проверяйте!!! Доделываю.

In [1]:
import pandas as pd
import numpy as np

from tqdm import tqdm_notebook

In [2]:
movies = pd.read_csv('../lecture-1/movies.csv')
ratings = pd.read_csv('../lecture-1/ratings.csv')

In [3]:
movies_with_ratings = movies.join(ratings.set_index('movieId'), on='movieId').reset_index(drop=True)
movies_with_ratings.dropna(inplace=True)

In [4]:
movies_with_ratings.head()

,movieId,title,genres,userId,rating,timestamp
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1.0,4.0,9.649827e+08
1,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,5.0,4.0,8.474350e+08
2,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,7.0,4.5,1.106636e+09
3,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,15.0,2.5,1.510578e+09
4,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,17.0,4.5,1.305696e+09

In [5]:
num_users = movies_with_ratings.userId.unique().shape[0]

In [102]:
movie_vector = {}

for movie, group in tqdm_notebook(movies_with_ratings.groupby(['movieId'#, \
                                                                   #'title'\
                                                              ])):
    movie_vector[movie] = np.zeros(num_users)
    
    for i in range(len(group.userId.values)):
        u = group.userId.values[i]
        r = group.rating.values[i]
        movie_vector[movie][int(u - 1)] = r

A Jupyter Widget

In [34]:
#считаем фильмы с оценками
num_films = movies_with_ratings.movieId.unique().shape[0]

In [103]:
#делаю то же по пользователям
user_vector = {}

for user, group in tqdm_notebook(movies_with_ratings.groupby(['userId'])):
    user_vector[user] = np.zeros(num_films)
    
    for k in range(len(group.movieId.values)):
        i = group.userId.values[k]
        r = group.rating.values[k]
        user_vector[user][int(i - 1)] = r

A Jupyter Widget

In [32]:
movie_vector

IOPub data rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_data_rate_limit`.

In [95]:
user_vector[1].dtype

dtype('float64')

In [101]:
#for i in movie_vector:
#    if movie_vector[i].sum()>0:
#        print(i)

In [55]:
from scipy.spatial.distance import cityblock, cosine, euclidean, hamming, jaccard, rogerstanimoto, correlation

In [112]:
#user_vector[1]
users_dist=pd.DataFrame(columns=[['uid1', 'uid2', 'dist']])

In [107]:
cosine(movie_vector[1], movie_vector[2])

0.5894379364982685

In [113]:
for s in user_vector:
    for k in user_vector:
        if s!=k:
            users_dist=users_dist.append({'uid1': s, 'uid2': k, 'dist': cosine(user_vector[s], user_vector[k])}, ignore_index=True)
#print(s, k, user_vector[s])

610.0 610.0 [0. 0. 0. ... 0. 0. 0.]

In [111]:
users_dist.sort_values(by='dist', ascending=True).tail()

         uid1   uid2  dist
372095  610.0  606.0   NaN
372096  610.0  607.0   NaN
372097  610.0  608.0   NaN
372098  610.0  609.0   NaN
372099  610.0  610.0   NaN

In [100]:
movie_dist=pd.DataFrame(columns=[['mid1', 'mid2', 'dist']])
for s in movie_vector:
    for k in movie_vector:
        if s!=k:
            movie_dist=movie_dist.append({'mid1': s, 'mid2': k, 'dist': cosine(movie_vector[s], movie_vector[k])}, ignore_index=True)

KeyboardInterrupt:

In [ ]:
movie_dist.head()

In [10]:
my_fav_film = 'Eternal Sunshine of the Spotless Mind (2004)'

titles = []
distances = []

for key in tqdm_notebook(movie_vector.keys()):
    if key == my_fav_film:
        continue
    
    titles.append(key)
    distances.append(correlation(movie_vector[my_fav_film], movie_vector[key]))

best_indexes = np.argsort(distances)[:10]
best_movies = [(titles[i], distances[i]) for i in best_indexes]

for m in best_movies:
    print(m)

A Jupyter Widget

('Donnie Darko (2001)', 0.49101284334453976)
('Kill Bill: Vol. 1 (2003)', 0.49172701903164506)
('Memento (2000)', 0.49829812559845776)
("Amelie (Fabuleux destin d'Amélie Poulain, Le) (2001)", 0.5130761506943353)
('Lost in Translation (2003)', 0.5193054621718749)
('Kill Bill: Vol. 2 (2004)', 0.5289890998118953)
('Fight Club (1999)', 0.5323396310804864)
('Garden State (2004)', 0.5371518832629265)
('Requiem for a Dream (2000)', 0.5596810472280161)
('City of God (Cidade de Deus) (2002)', 0.5679960666831172)